# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VSCode
.vscode/

# dotenv
.env

# SQLite DB
*.db

# Alembic
alembic/versions/*.pyc